.dub
docs.json
__dummy.html
docs/
/dlangwinapi
dlangwinapi.so
dlangwinapi.dylib
dlangwinapi.dll
dlangwinapi.a
dlangwinapi.lib
dlangwinapi-test-*
*.exe
*.o
*.obj
*.lst

dub.selections.json
dmd2
*.7z

*.bin
*.ipch