branches:
  only:
  - master

os:
  - windows

language: bash

script:
  - wget http://downloads.dlang.org/releases/2.x/2.086.0/dmd.2.086.0.windows.7z
  - 7z x dmd.2.086.0.windows.7z -mmt=8
  - dmd2/windows/bin/dub --version
  - FILES=examples/*
  - for f in $FILES; do cd $f && ../../dmd2/windows/bin/dub.exe build -b release && cd ../../; done

before_deploy:
 - git config --local user.name "Federico Santamorena"
 - git config --local user.email "federico@santamorena.me"

deploy:
  provider: releases
  skip_cleanup: true
  draft: false
  prerelease: true
  name: $TRAVIS_COMMIT
  body: $TRAVIS_COMMIT_MESSAGE
  target_commitish: $TRAVIS_COMMIT
  file_glob: true
  api_key:
    secure: $GITHUB_TOKEN
  file: build/**/*.exe
  on:
    repo: yatima1460/D-Windows-API-Examples

notifications:
  email:
    on_success: never
    on_failure: always